
.navbar{
  
    width:auto ;
    height: 70px;
    background-color: rgb(0, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px black;
    border-radius: 3px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    
}

.logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
   color: blue;
   margin-left: 100px;
}
.navlinks{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
   
}

.menu{
    display:none;
    margin: 10px;
    font-size: 20px;
    position: relative;
}


#menubar{
  width: 100%;
  height: 500px;
 
    position:absolute;
    background-color:rgb(246, 13, 13);
    top: 70px;
    left:0px;
    transform: translateX(-100%);
    transition: transform 1s ease 0s;
     box-shadow: 0px 1px 3px rgb(14, 2, 2);
     border-radius: 10px;
}



@media screen and (max-width:828px){
    

    .navlinks{
        display: none;
    }
    .menu{
        display: block;
    }
}



#menubar:target{
   transform:  translateX(0);
   
}


.mobilelinks{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    

}

.closebtn{
    position: absolute;
    font-size: 25px;
   right: 15px;
   top: 15px;

}

.homecard{
    
   display: flex;
   flex-direction: column;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 247, 249);
   margin: 100px;
    
}
.title{
    margin-left: 120px;
    font-size: large;
    
}
.intro{
   
   left: 100px;
    font-size: large;
    margin-bottom: 50px;
}


.photo{
    width: 300px;
    height: 300px;
    background-image: url("/assets/dp.png");
    background-size: cover;
    margin: 20px;
      box-shadow: 0px 0px 10px rgb(14, 2, 2);
      border-radius: 10px;
      border-radius: 50%;
}

.resdownbtn{
    font-size: 15px;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 1.5px black;
    border: 0px solid black;
    margin: 10px 0px 0px 220px  ;
}


.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card2{
    width: 90%;
    display: flex;
    background-color: rgb(239, 237, 237);
    gap: 30px;
}
    
.card2img{
    width: 300px;
    height: 450px;
    background-image: url("/assets/dp.png");
   background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;

}

.c2title{
    text-align: center;
}

.eboxes{
    display: flex;
    gap: 20px;

}
.ssc{
    width: 250px;
    height: 250px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
}





