
body{
    background-color: black;
    background: linear-gradient(135deg, #4b6cb7, #182848);
}
.navbar{
  
    width:auto ;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 3px black;
    border-radius: 3px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    backdrop-filter: blur(10px);
    
}
a{
    text-decoration: none;
    color: white;
}

.logo{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
   color: white;
   margin-left: 100px;
}
.navlinks{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;   
   
}

.menu{
    display:none;
    margin: 10px;
    font-size: 20px;
    position: relative;
}


#menubar{
  width: 100%;
  height: 500px;
 
    position:absolute;
    background-color:rgb(246, 13, 13);
    top: 70px;
    left:0px;
    transform: translateX(-100%);
    transition: transform 1s ease 0s;
     box-shadow: 0px 1px 3px rgb(14, 2, 2);
     border-radius: 10px;
}



@media screen and (max-width:828px){
    

    .navlinks{
        display: none;
    }
    .menu{
        display: block;
    }
}



#menubar:target{
   transform:  translateX(0);
   
}


.mobilelinks{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    

}

.closebtn{
    position: absolute;
    font-size: 25px;
   right: 15px;
   top: 15px;

}

.homecard{
    
   display: flex;
   flex-direction: column;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    background-color:white ;
   margin: 100px;
    
}
.title{
    margin-left: 120px;
    font-size: large;
    
}
.intro{
   
   left: 100px;
    font-size: large;
    margin-bottom: 50px;
}


.photo{
    width: 300px;
    height: 300px;
    background-image: url("/assets/dp.png");
    background-size: cover;
    margin: 20px;
      box-shadow: 0px 0px 10px rgb(14, 2, 2);
      border-radius: 10px;
      border-radius: 50%;
}

.resdownbtn{
    font-size: 15px;
    padding: 15px 50px 15px 50px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 0px 1.5px black;
    border: 0px solid black;
    margin: 10px 0px 0px 220px  ;
}


.aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card2{
    width: 90%;
    display: flex;
    background-color:red;
    gap: 30px;
}
    
.card2img{
    width: 300px;
    height: 430px;
    background-image: url("/assets/dp.png");
   background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;

}

.c2title{
    text-align: center;
}

.card2intro{
    display: flex;
     flex-direction: column;
     align-items: center;
     gap: 50px;
     margin-top: 100px;
}

.eboxes{
    display: flex;
    gap: 20px;

}
.box{
    width: 175px;
    height: 200px;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 1px black;
    transition: 0.2s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(10px);
}

.box:hover{
    box-shadow: 7px 7px black;
     transform: translateY(-12px) scale(1.03);
    
}




.skills-section {
    padding: 100px 10%;
    
    /* background: linear-gradient(135deg, #4b6cb7, #182848); */
    text-align: center;
    color: white;
    margin-top: 100px;
}

.section-title {
    font-size: 36px;
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}

.section-title::after {
    content: "";
    width: 60%;
    height: 4px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    position: absolute;
    left: 20%;
    bottom: -10px;
    border-radius: 10px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.skill-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 40px 30px;
    border-radius: 20px;
    transition: all 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.skill-card h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.skill-card p {
    font-size: 14px;
    line-height: 1.6;
    opacity: 0.9;
}


.skill-card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 20px 50px rgba(0, 198, 255, 0.4);
    background: rgba(255, 255, 255, 0.15);
}
